/* All sizes are bigger than in the png image, because elemets looks to small, if I make them pixel-perfect. And I use % proportion for some margins to make elements positions more similar to the image */

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/bgr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f1f3f6;
    padding: 0 0 0 10%;
}

/* header-formatting */
.header {
    display: flex;
    align-items: center;
    height: 75px;
    color: white;
}

.logo {
    margin-right: 7%;
    /* png margin-rigth - 60px */
}

.logo a {
    font-size: 24px;
    /* png font-size - 14px */
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.menu ul {
    display: flex;
    list-style-type: none;
}

.menu li {
    margin-right: 55px;
    /* png margin-rigth - 35px */
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    /* png font-size - 10px */
    letter-spacing: 0.5px;
}

.menu a:hover {
    color: violet;
}

.menu {
    margin-right: 15%;
}

.account-controls button {
    padding: 10px 25px 10px 25px;
    margin: 0 5px 0 5px;
    background: none;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    /* png font-size - 10px */
    letter-spacing: 0.5px;
}

.account-controls button:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    border-radius: 2px;
}

.account-controls button:hover {
    cursor: pointer;
    color: violet;
}

/* main-formatting */
.description {
    width: 55%;
    margin-top: 120px;
    color: white;
    font-size: 33px;
    font-weight: normal;
}

.free-trial button {
    font-size: 18px;
    color: #210d29;
    background-color: #fff;
    padding: 20px 60px 20px 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid transparent;
}

.free-trial button:hover {
    cursor: pointer;
}

.free-trial button:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    color: white;
}

.features-container {
    padding: 100px;
    background-color: #fff;
    display: flex;
}

.features-container h2 {
    margin-bottom: 40px;
    font-size: 21px;
    font-weight: bold;
}

.features-container p {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 50px;
}

[class*="feature-"] {
    margin-right: 40px;
}

[class*="feature-"]:last-child {
    margin-right: 0;
}

.feature-1 .feature-logo {
    background-image: url(images/icon-1.png);
}

.feature-2 .feature-logo {
    background-image: url(images/icon-2.png);
}

.feature-3 .feature-logo {
    background-image: url(images/icon-3.png);
}

.feature-logo {
    display: block;
    width: 75px;
    height: 75px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.info-container {
    display: flex;
}

.info-container h2 {
    width: 45%;
    padding: 100px;
}

.info-container p {
    width: 55%;
    padding: 100px;
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
}