* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(images/bgr.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f1f3f6;
    margin-left: 100px;
}

.row {
    width: 100%;
    display: flex;
}

/* header-formatting */
.mobile-menu {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.menu ul {
    list-style-type: none;
    display: flex;
    margin-left: -75px;
}

.menu li {
    margin-right: 55px;
    /* png margin-rigth - 35px */
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    /* png font-size - 10px */
    letter-spacing: 0.5px;
}

.menu a:hover {
    color: violet;
}

.account-controls {
    margin-right: 240px;
}

.account-controls button {
    padding: 10px 25px 10px 25px;
    margin: 0 5px 0 5px;
    background: none;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    /* png font-size - 10px */
    letter-spacing: 0.5px;
}

.account-controls button:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    border-radius: 2px;
}

.account-controls button:hover {
    cursor: pointer;
    color: violet;
}

.description .col-md {
    color: white;
    font-size: 55px;
    font-weight: normal;
    margin-right: 550px;
    margin-top: 10px;
}

.free-trial .col-md {
    font-size: 18px;
    color: #210d29;
    background-color: #fff;
    padding: 20px 70px 20px 70px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid transparent;
}

.free-trial .col-md:hover {
    cursor: pointer;
}

.free-trial .col-md:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    color: white;
}

.features-container {
    background-color: #fff;
    padding: 100px;
}

.features-container h2 {
    margin-bottom: 40px;
    font-size: 21px;
    font-weight: bold;
    color: #1d0925;
}

.features-container p {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    color: #534459;
    margin-bottom: 50px;
}

.features-container .col-md {
    margin-right: 85px;
}

.feature-1 .feature-logo {
    background-image: url(images/icon-1.png);
}

.feature-2 .feature-logo {
    background-image: url(images/icon-2.png);
}

.feature-3 .feature-logo {
    background-image: url(images/icon-3.png);
}

.feature-logo {
    display: block;
    width: 75px;
    height: 75px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.info-heading {
    width: 43%;
    padding: 100px;
    font-size: 30px;
    color: #100d1f;
}

.info-text {
    width: 58%;
    padding: 100px;
    font-size: 19px;
    font-weight: normal;
    color: #2f2e3e;
    line-height: 30px;
}

/* mobile */
@media (max-width: 425px) {
    body {
        padding: 15px;
        margin: 0;
        background-size: cover;
    }

    .row {
        flex-direction: column;
    }

    .menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .menu-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-top: 5px;
        border: 1px solid white;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .menu-btn span {
        display: block;
        background-color: white;
        width: 15px;
        height: 3px;
        border-radius: 1.5px;
        margin: 1.5px;
    }

    #check:checked + .menu-btn {
        border: 1px solid violet;
        border-radius: 3px;
    }

    #check:checked + .menu-btn > span {
        background-color: violet;
    }

    #check:checked ~ .mob-menu {
        display: flex;
    }

    #check {
        display: none;
    }

    .mob-menu {
        display: none;
        position: absolute;
        top: 44px;
        left: 60px;
        list-style: none;
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid white;
        border-radius: 3px;
        padding: 5px;
    }

    .mob-menu a {
        text-decoration: none;
        color: white;
        font-size: 14px;
    }

    .mob-menu li {
        margin: 5px;
    }

    .header {
        flex-direction: column;
        margin: 0;
        align-items: flex-start;
    }

    .header .col-sm {
        justify-self: flex-start;
    }

    .account-controls {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    
    .description .col-sm {
        font-size: 33px;
        margin: 0;
    }

    .free-trial {
        display: flex;
    }

    .free-trial .col-sm {
        margin: 0 auto;
        width: 50%;
        font-size: 14px;
        color: #210d29;
        background-color: #fff;
        padding: 10px 30px 10px 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 1px solid transparent;
    }
    
    .free-trial .col-sm:hover {
        cursor: pointer;
    }
    
    .free-trial .col-sm:focus {
        outline: none;
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid white;
        color: white;
    }

    .features-container {
        padding: 15px;
    }

    .features-container h2 {
        margin-bottom: 20px;
    }

    .features-container p {
        margin-top: -40px;
    }

    .features-container .col-sm {
        margin-right: 0;
    }

    .feature-logo {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .info-heading {
        width: 100%;
        font-size: 26px;
        padding: 15px;
        color: white;
    }

    .info-text {
        width: 100%;
        padding: 15px;
        color: white;
    }
}